@{
    ViewBag.Title = "Home Page";
}



<div class="row">

    <div class="col-md-6">
        <h2>Rest Api</h2>
        <p>http://localhost/FFin/api/RublRate/GetRate?id=azn  <span style="color:red">например</span></p>

    </div>

    <div class="col-md-6">
        <h2>SOAP Service</h2>
        <p>http://localhost/ffin/SoapService.asmx <span style="color:red">например</span></p>

    </div>
</div>